<?xml version="1.0"?>
<config>
    <modules>
        <Wage_Mlogo>
            <version>0.1.0</version>
        </Wage_Mlogo>
    </modules>
    <admin>
        <routers>
			<mlogo>
				<use>admin</use>
				<args>
					<module>Wage_Mlogo</module>
					<frontName>mlogo</frontName>
				</args>
			</mlogo>
        </routers>
    </admin>
    <global>
        <models>
            <mlogo>
                <class>Wage_Mlogo_Model</class>
                <resourceModel>mlogo_mysql4</resourceModel>
            </mlogo>
            <mlogo_mysql4>
                <class>Wage_Mlogo_Model_Mysql4</class>
                <entities>
                    <mlogo>
                        <table>mlogo</table>
                    </mlogo>
                </entities>
            </mlogo_mysql4>
        </models>
        <resources>
            <mlogo_setup>
                <setup>
                    <module>Wage_Mlogo</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mlogo_setup>
            <mlogo_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mlogo_write>
            <mlogo_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mlogo_read>
        </resources>
        <blocks>
            <mlogo>
                <class>Wage_Mlogo_Block</class>
            </mlogo>
            <page>
                <rewrite>
                    <html_header>Wage_Mlogo_Block_Page_Html_Header</html_header>
                </rewrite>
            </page>
        </blocks>
        <helpers>
            <mlogo>
                <class>Wage_Mlogo_Helper</class>
            </mlogo>
        </helpers>
    </global>
</config>
